<!doctype html>
<html lang="">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
		<title><%= appName %></title>
		<meta name="application-name" content="<%= appName %>" />
		<meta
			name="description"
			content="Ezbiu is a simple bill splitting app that allows users to split bills with friends and family." />
		<meta name="author" content="Dyno Nguyen" />
		<meta name="release-date" content="<%- releaseDate %>" />

		<!-- Manifest -->
		<link rel="manifest" href="/manifest.json" />

		<!-- Favicon/Icon -->
		<link rel="apple-touch-icon" sizes="57x57" href="/icon/57px.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="/icon/60px.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/icon/72px.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/icon/76px.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/icon/114px.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/icon/120px.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/icon/144px.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/icon/152px.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/icon/180px.png" />
		<link rel="icon" type="image/png" sizes="192x192" href="/icon/192px.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="/icon/96px.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/icon/32px.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/icon/16px.png" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="/icon/144px.png" />
		<meta name="theme-color" content="#ffffff" />

		<!-- Open Graph -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Ezbiu" />
		<meta property="og:image" content="/icon/thumbnail.png" />
		<meta
			property="og:description"
			content="Ezbiu is a simple bill splitting app that allows users to split bills with friends and family." />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="627" />

		<!-- Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400..900&display=swap"
			rel="stylesheet" />
	</head>
	<body>
		<div id="app"></div>
		<script type="module" src="/src/main.ts"></script>
	</body>
</html>
